
body{
border:line-height: 2em
border-color:black;
background-color:white;
margin-left:100px;
margin-right:100px;
margin-top:100px;
margin-bottom:100px;
height:100%;

}
#image{


width:100%

}

#wrapper{

padding-top:10px;
height:50%;
}
#nav{
postion:absolute;
padding-top:0px;

}

#header{
border-radius:15px;
margin-left:135px;
margin-right:80px;
margin-bottom:50px;
margin-top:0px;
height:100px;

}
#navigation{
margin-left:51px;
margin-right:16px;
font-style: italic;
}

#navigation1{
position:relative;
font-style: italic;
width:80%;
height:70%;
margin-left:51px;
margin-top:40px;
margin-right:16px;
top:300px;
right:250px;

}

#position1{
position:static;
}
#position2{
position:static;
}
#position3{
position:absolute;
left:160px;
top:500px;
}
#position4{
position:absolute;
left:230px;
top:600px;
}
#position5{
position:relative;
left:80px;
top:100px;
}
#position6{
position:relative;

}
#position7{
float:left;
}
#position8{
top:550px;
float:right;
margin:0px;
}
#parent{
position:absolute;
border-style:inset;
background-color:white;
top:77px;
left:5px;
}
#one{
font-style:italic;
}
#two{font-style:italic;
}
#three{font-style:italic;
}
div#footer{
height:10%;
margin-top:250px;
text-decoration:blink;
font-style:italic;
padding:10px;

}



