body{

}

#main_page{
position:absolute;
margin-left:50px;;
width:50%;
margin-right:450px;
}

#search_page{
position:absolute;
width:30%;
margin-left:800px;
margin-right:10px;
padding-right:10px;

}
#task{
width:170%;
}


