body{
background:gray;
}
#page-container{
width:960px;
margin:auto;
background:white;
}
#two-column{
}
#two-column div#left{
float:left;
width:240px;
padding:10px;
margin-bottom:25px;
}

#two-column div#right{
border-left:1px solid gray;
background:#FFE4C4;
width:670px;
margin-left:260px;
padding:10px;
}

div#header{
background-color:#c7e0fb;
text-decoration:blink;
padding:10px;
}

div#footer{
background-color:#c7e0fb;
text-decoration:blink;
padding:10px;
clear:both;
}
div#intro{
float:right;
width:150px;
margin-top:20px;
}
